/*General*/

html{scroll-behavior: smooth; margin: 1%;}

body{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color:rgb(156, 155, 181); background-color: rgb(34, 34, 42); font-size: larger;}

#gap{height: 15px; background-image: linear-gradient(to right, rgb(27, 27, 33), rgb(34, 34, 42)); border-radius: 100px;}

#banner{background-image: linear-gradient(to right, rgb(61, 56, 77), rgb(34, 34, 42));height: auto; border-radius: 100px;}

#bottomplate {background-image: linear-gradient(to bottom, rgb(61, 56, 77), rgb(34, 34, 42)); border-radius: 10px;}

/*Picture*/

img{float:right; width:30%; margin: 1%; margin-right: 2%; border-radius: 5px;}

/*Quiz*/

button{background-color: rgb(40, 41, 56); color: rgb(156, 155, 181); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; width: 300px; border-radius: 100px; margin: 5px; transition: 0.25s ease;}
button:hover{background-color: rgb(90, 90, 111); color: rgb(255, 255, 255);border-color: rgb(255, 255, 255); cursor: pointer;}
.submit{background-color: rgb(23, 115, 29); color:rgb(97, 214, 104); border-color: rgb(0, 166, 36);}
.submit:hover{background-color: rgb(0, 200, 13); color:rgb(244, 255, 245); border-color: rgb(0, 255, 55);}
#radioQ1{accent-color: rgb(192, 190, 255);background-color: rgb(70, 68, 81); width: fit-content; border-radius: 10px;}
.quizbox{background-color: rgb(70, 68, 81); width: min-content; border-radius: 10px;}

/*Links*/

#linki{color:rgb(113, 109, 231); text-decoration:none;}
#linki:visited{color:rgb(71, 68, 150);}
#linki:hover{color:rgb(132, 130, 240);}